<h1>Domains</h1>
<% unless @domains.empty? %>
  <div class="feli-table-wrapper">
    <table class="feli-table">
      <thead>
        <tr>
          <th>name</th>
          <th>actions</th>
        </tr>
      </thead>

      <tbody>
        <% @domains.each do |domain| %>
          <tr>
            <td><%= link_to domain do domain.name end %></td>
            <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
            <td><%= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  - no domains -
<% end %>
<br><br>

<%= link_to 'New Domain', new_domain_path %>
