// background colors
$color_primary: #A9DDD6;
$color_secondary: #7A8B99;
$color_tertiary: #91ADC2;
$color_four: #9BA0BC;
$color_five: #C1B8C8;

// text colors
$color_primary_text: black;
$color_secondary_text: white;
$color_tertiary_text: black;
$color_four_text: black;
$color_five_text: black;