/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'colors';

body {
  margin: 0px;
  padding: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: $color_tertiary;
  color: $color_primary_text;
  header {
    background-color: $color_secondary;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    >.left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;
      >.logo {}
    }
    >.right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 15px;
      >.navigation {}
    }
  }
  >.main {
    padding: 0px 15px;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: black;
  }
  &:focus, &:visited {
    color: black;
  }
}

.cta-big {
  background-color: $color_five;
}

.notice {
  background-color: yellow;
  color: black;
}

.alert {
  background-color: red;
  color: black;
}

