<h1><img src="../assets/fediverse_logo_proposal.svg" width="50px">Welcome to felicitate</h1>
<h2>The fediverse automation platform</h2>
<p>
  Create bots that post scheduled content!<br>
  Define clever response schemes!<br>
  Play with markov chains!<br>
  Automatically grow your brand on the fediverse!<br>
  Analyze your engagement!<br><br>
  <i><b>All in one user interface!</b></i>
</p>
<%= link_to '>> Bring your brand to the next generation of social networks today <<', new_user_registration_path, class: 'cta-big' %>